.kk-weather {
    padding-top: 15px;
    padding-left: 10px;
    position: fixed;
    display: none;
}

.kk-weather-box {
    width: fit-content;
    height: 50px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff;
    background-image: linear-gradient(to top, #dfe9f38a 0%, #ffffff91 100%);
}

.kk-weather-icon {
    float: left;
    width: 46px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    text-shadow: 1px 1px 0 #fff;
    /*filter: drop-shadow(0 0 5px #93acba);*/
    overflow: visible;
    text-align: center;
    -webkit-backface-visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
}

#kk_icon:hover{
    color:#ff7f50;
}

#kk_icon {
    font-size: 30px;
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.kk-weather-data {
    float: right;
    border-radius: 8px;
    padding: 5px 8px 0 0;
    /*box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff;*/
}

.kk-weather-city {
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
}

.kk-weather-city a {
    font-style: normal;
    font-family: sans-serif;
}

.kk-weather-wd {
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font-style: normal;
    padding-top: 2px;
    padding-bottom: 3px;
}

.kk-weather-wd a {
    font-style: normal;
}