@font-face {
    font-family: kk;
    src: url('https://files.hackricken.top/two.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: #93acba;
    font-family: 'kk', serif;
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    text-decoration: none;
}

ul li {
    list-style: none;
}

nav a {
    margin-left: 32px;
    text-shadow: 1px 1px 0 #fff;
    cursor: url("https://static.hackricken.top/Web/mouse/light/link.cur"), default;
}

nav a.active {
    /*
    background:linear-gradient(90deg, #1E71F5, #3CDEE7);
    animation:move 7s linear infinite;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;*/
    color: #AE1100;
}

html, body {
    height: 100%;
    cursor: url("https://static.hackricken.top/Web/mouse/light/pointer.cur"), default;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #0aafe6;
    background-color: #ecf0f3;

}

.container {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hander {
    width: 100%;
    height: 33px;
    line-height: 33px;
    z-index: 1;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #b1b4b6,
    -5px -5px 10px #ffffff;
}

.hander_box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
}

.content {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #b1b4b6,
    -5px -5px 10px #ffffff;
}

.content section {
    position: absolute;
    opacity: 0;
    transition: .4s ease-out;
}

.content section.active-section {
    opacity: 1;
}

.main {
    width: 300px;
    height: 400px;
    z-index: 1;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    text-decoration: none;
}

.main a div {
    cursor: url("https://static.hackricken.top/Web/mouse/light/link.cur"), default;
}

.bgo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.bgt {
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.ato_w {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 37%;
    left: 33%;
    border-radius: 50%;
    background-color: #ecf0f3;
    /*box-shadow: 2px 2px 10px 0 #b1b4b6, -2px -2px 10px 0 #ffffff;*/
}

.ato_z {
    width: 100px;
    height: 100px;
    position: absolute;
    padding: 1px;
    border-radius: 50%;
    background-color: #ff0000;
    /*width: 100%;
    height: 100%;
    border-radius:50%;*/
}

.ato-box {
    width: 100px;
    height: 100px;;
    position: absolute;
    top: 37%;
    left: 33%;
    border-radius: 50%;
    box-shadow: 0 0 7px 0 #93acba;
    animation: light 4s ease-in-out infinite;
    transition: 0.5s;
}

.ato {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: none;
    animation: light 4s ease-in-out infinite;
    transition: 0.8s;
    cursor: url("https://static.hackricken.top/Web/mouse/light/handwriting.cur"), default;
}

.ats {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 70px;
    left: 120px;
    border-radius: 50%;
    animation: light 4s ease-in-out infinite;
    transition: 0.8s;
}

.ato:hover {
    cursor: url("https://static.hackricken.top/Web/mouse/light/unavailable.cur"), default;
    box-shadow: 0 0 10px 0 #ff1d00;
    transform: scale(1.05) rotate(900deg);
}

.ats:hover {
    cursor: url("https://static.hackricken.top/Web/mouse/light/handwriting.cur"), default;
    transform: scale(1.15) rotate(900deg);
}

.name {
    margin: 67px auto 0;
    height: 20px;
    width: fit-content;
    line-height: 20px;
    font-size: 22px;
    text-align: center;
    color: #93acba;
    text-shadow: 1px 1px 0 #fff;
}

.motto {
    font-size: 14px;
    text-align: center;
    margin: 20px auto 0;
    width: fit-content;
    height: 20px;
    line-height: 20px;
    color: #93acba;
    text-shadow: 1px 1px 0 #fff;
}

.hander #nav-menu a:first-child {
    margin-left: 0;
}

.navo {
    text-align: center;
    position: fixed;
    bottom: 90px;
    width: 100%;
}

.navo_box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
}

.navo ul li {
    float: left;
    margin-left: 20px;
    animation: light 4s ease-in-out infinite;
    transition: 0.5s;
}

.navo ul li:first-child {
    margin-left: 0;
}

.navo_button {
    width: 32px;
    height: 32px;
    background-color: #ecf0f3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff;
    cursor: url("https://static.hackricken.top/Web/mouse/light/link.cur"), default;
}

.navo_button a {
    height: 64px;
    line-height: 32px;
    cursor: url("https://static.hackricken.top/Web/mouse/light/link.cur"), default;
}

.navo_button a i {
    /*background:linear-gradient(90deg, #1E71F5, #3CDEE7);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;*/
    color: #93acba;
    text-shadow: 1px 1px 0 #fff;
    animation: move 4s linear infinite;
}

.navo ul li:hover {
    transform: scale(1.15);
}

.about {
    font-size: 12px;
    padding: 10px;
    margin: 0 40px;
    border-radius: 15px;
    background: #ecf0f3;
    box-shadow: inset 5px 5px 10px #b1b4b6,
    inset -5px -5px 10px #ffffff;
}

.about p {
    padding-left: 2px;
    line-height: 19px;
}

.box {
    border-radius: 15px;
    padding: 10px;
    margin: 0 20px 10px;
    background: #ecf0f3;
    box-shadow: inset 5px 5px 10px #b1b4b6,
    inset -5px -5px 10px #ffffff;
}

span.time {
    color: #996699;
}


#boxs {
    margin: 0;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#boxs::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#boxs::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: #cbd9e4;
}

#boxs::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #f9d090;
}

.track-list li {
    position: relative;
    padding: 10px 0 0 20px;
    margin-left: 15px;
    border-left: 2px solid #aaa;
    text-shadow: 1px 1px 0 #fff;
}

.track-list li .node-icon {
    position: absolute;
    left: -10px;
    top: 50%;
    height: 18px;
    border-radius: 50%;
    background-color: #ecf0f3;
}

.track-list li .time {
    position: relative;
    font-size: 12px;
    width: 100%;
    top: 4px;
    display: inline-block;
    vertical-align: middle;
}

.track-list li .txt {
    position: relative;
    font-size: 12px;
    top: 2px;
    display: inline-block;
    vertical-align: middle;
}

.node-icon img {
    text-shadow: 1px 1px 0 #fff;
}

.ps {
    color: #6495ed80;
    text-shadow: 1px 1px 0 #fff;
}

.web {
    width: 75%;
    height: 20px;
    text-align: center;
    /*background: #fafafa repeating-linear-gradient(-45deg, #fff, #fff 1.125rem, transparent 1.125rem, transparent 2.25rem);*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
}

.web_0 {
    width: 225px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-size: 60px 60px;
    text-shadow: 1px 1px 0 #fff;
    background-image: linear-gradient(135deg, #c7d5e0 0%, #c7d5e0 25%, white 25%, white 50%, #c7d5e0 50%, #c7d5e0 75%, white 75%, white 100%);
    animation: move 1s linear infinite;
    transition: 0.5s;
}

.web_0:hover {
    width: 240px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
}

.web_1 {
    width: 225px;
    height: 20px;
    line-height: 20px;
    color: #AE1100;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;

    transition: 0.5s;
}

.web_1:hover {
    width: 250px;
    height: 25px;
    font-size: 20px;
    line-height: 30px;
}

.tips {
    width: 73%;
    border-bottom-right-radius: 2px;
    border-left: 4px solid #2ECC71;
    border-top-right-radius: 2px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: #f8f8f8;
    text-shadow: 1px 1px 0 #fff;
    font-size: 15px;
}

.footer {
    width: 100%;
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    text-shadow: 1px 1px 0 #fff;
}


.china {
    width: 90px;
    right: 0;
    position: fixed;
    bottom: 0;
    border-radius: 8px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff;
}

.sc-csuQGl.sw-container.sc-bRBYWo.brRCBH {
    -webkit-user-select: none;
    -moz-user-select: none;
    text-decoration: none;
}

.kk-heart {
    animation: kk-star 0.5s ease-in-out infinite alternate;
}

@keyframes kk-star {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes move {
    0% {
    }
    100% {
        background-position: 60px 0;
    }
}