.sw-container {
    background: #ecf0f3!important;
    box-shadow: 5px 5px 10px #b1b4b6, -5px -5px 10px #ffffff!important;
    text-shadow: 1px 1px 0 #fff!important;
    border-radius: 8px!important;
}

.sw-bar-bubble-icon {
    filter: drop-shadow(0 0 5px #93acba);
    overflow: visible;
}